{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    {% if sales %}
        {% csrf_token %}
        <h1>{{ customer }}</h1>
    <div class="stock">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>SNO</th>
                    <th>Product</th>
                    <th>QTY</th>
                    <th>Price/Unit</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                    <tr>
                        <td>{{ forloop.counter }}</td> 
                        <td>{{ sale.product }}</td>
                        <td>{{ sale.quantity }}</td>
                        <td>{{ sale.product.price }}</td>
                        <td>{{ sale.total_price }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4"><strong>Total Price:</strong></td>
                    <td>{{ TotalPrice }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% else %}
        <p>No sales found.</p>
    {% endif %}
{% endblock %}

